script.
  document.addEventListener("DOMContentLoaded", function(event) {
    if(#{verifyFail} == true) {
      document.getElementById("errorCode").innerText = "Fejlede dit login. Venligst gentjek dit id og dit password";
      return document.getElementById("errorCode").style.color = "red";
    }
  });

doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Login Page
  style
    include ./assets/style.css
section.box
  .design
    div
    div
    div
    div
  .form
    h2 Admin Login
    p#errorCode
    form(action='/' method='POST')
      input.input-field(name='id' placeholder='Dit ID')
      input.input-field(type='password' name='password' placeholder='Password')
      input.btn(type='submit' value='LOGIN')
